@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// COLOR
$cl-black: #000;
$cl-grey: #888;

// FONT-FAMILY
$ff-poppins: "Poppins", sans-serif;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-small: 500;
$fw-medium: 600;
$fw-large: 700;
$fw-xlarge: 800;

// FUNCTION
@function toRem($size) {
	$remSize: calc($size / 16px);
	@return #{$remSize}rem;
}
